html{ 
    background-color: beige;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
} 

a{ 
    text-decoration: none;
    color: black;
} 

h1{ 
    font-size: 40px;
} 

h2{ 
    font-size: 30px;
} 

h3{ 
    font-size: 20px;
} 

h4{ 
    font-size: 15px;
} 

ul{
    list-style: none;
}

/*-----------------------HEADER----------------------*/

header{ 
    width: 100%;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: row;
    align-items: center;
} 

header .logo{
    width: 150px;
    height: 150px;
    background-color: darkorange;
}

header nav{ 
    width: 20%;
} 

.listaNav{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button{
    background-color: skyblue;
    border: 2px solid #008CBA;
    padding: 10px 26px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*-----------------------CENTER----------------------*/

.categorySeparator{
    display: block ruby;
}

.categorySeparator h2{
    margin: 0;
}

.divisorLine{
    height: 3px;
    width: 59%;
    background-color: brown;
}

.itemContainer h3{
    text-align: center;
    float: left;
    width: 30%;
}

/*-----------------------FOOTER----------------------*/

.productFooter{
    width: 100%;
}

.footerInnerContainer{
    width: 100%;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerInnerContainer h4{
    width: 20%;
}

